*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --task-indentation: 16px;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 0 16px;
}

button,
input[type="text"] {
  font-size: inherit;
  font-family: inherit;
}

button {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

button:hover {
  border: 1px solid #000;
}

button:active {
  color: #fff;
  fill: #fff;
  background-color: #000;
}

input[type="text"] {
  appearance: none;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

input[type="text"]:disabled {
  opacity: 0.33;
}

.task input[type="text"] {
  width: 350px;
}

dialog input[type="text"] {
  width: 80px;
}

.new-task {
  display: grid;
  place-items: center;
}

.task {
  margin: 10px 0;
}

.new-task-form {
  display: inline-grid;
  grid-template-columns: repeat(3, auto);
  justify-contents: left;
  place-items: center;
  gap: 8px;
}

.new-task-form > * {
  display: grid;
  place-items: center;
}

.task-fold-arrow {
  margin-right: 4px;
}

.task-header {
  display: inline-flex;
  align-items: center;
}

.task-buttons {
  margin-left: 8px;
  display: inline-grid;
  grid-template-columns: repeat(4, auto);
  gap: 8px;
  place-items: center;
}

.task-buttons > * {
  display: grid;
  place-items: center;
}

.task-title.done {
  text-decoration: line-through;
}

.scheduled {
  margin: 0 12px;
}

dialog {
  border: none;
  border-radius: 8px;
}

form > div {
  margin: 16px 0;
}

input[type="date"] {
  font-family: inherit;
  font-size: inherit;
  appearance: none;
  border: 1px solid #000;
}

.x-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}

form > div:last-child {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: end;
}
