*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --task-indentation: 12px;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  margin: 0 16px;
}

button,
input[type="text"] {
  font-size: inherit;
  font-family: inherit;
}

button {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

button:hover {
  border: 1px solid #000;
}

button:active {
  color: #fff;
  fill: #fff;
  background-color: #000;
}

input[type="text"] {
  appearance: none;
  outline: none;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}

.task {
  margin-top: 10px;
  margin-bottom: 10px;
}

body > .task {
  margin-left: var(--task-indentation);
}

.new-task-form button {
  margin-left: 8px;
}
